// Place all the styles related to the chartography controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { height: 580px;
       background-color: black;
       float: left;
       clear: left
}
#search { height: 290px;
          background-color: #95A5A6;
          float: right;
          clear: right;
          padding-top: 1rem
}
#results { height: 290px;
          float: right;
          clear: right;
          background-color: #1d1d1d
}
