// Place all the styles related to the chartography controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map { height: 600px;
       background-color: #1d1d1d;
}

#results { height: 45px;
          background-color: #DC143C;
}


#examples {
  background: #ecf0f1;
}
