
<div class="large-3 xsmall-12 columns" id="search">

  <div class="large-12 columns">
    <label> Step 1... </label>
    <div class="row collapse">
      <div class="small-9 columns">
        <input type="text" placeholder="Artist or Band Name">
      </div>
      <div class="small-3 columns">
        <a href="#" class="button postfix radius">Search</a>
      </div>
    </div>
  </div>


  <fieldset>
    <label>Step 2...</label>
    <div class="row">
      <div class="small-12 columns">
        <input type="radio" name="location" value="location" id="location"><label for="location">Location</label>
        <input type="radio" name="date" value="date" id="date"><label for="date">Date</label>
      </div>
    </div>

    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-12 columns">
          <input type="text" placeholder="When or Where">
        </div>
      </div>
    </div>

    <a href="#" class="small button round disabled [radius round]">Submit</a>

  </fieldset>

</div>

<div class="large-9 xsmall-12 columns" id="map">
</div>

<div class="large-3 xsmall-12 columns" id="results">

  <ul class="result-slider" data-orbit
    data-options="slide_number: false;
                  timer: false;">
    <div class="result-container-1" style="height: 260px">
      <li data-orbit-slide="headline-1">
        <div>
          <h2>Headline 1</h2>
          <h3>Subheadline</h3>
        </div>
      </li>
    </div>
    <div class="result-container-2" style="height: 260px">
      <li data-orbit-slide="headline-2">
        <div>
          <h2>Headline 2</h2>
          <h3>Subheadline</h3>
        </div>
      </li>
    </div>
  </ul>

</div>
