<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <ul class="right">
    <li>
      <a href="http://songkick.com"><img src="http://s9.postimg.org/iw8opm8jf/songkick_logo.png"></a>
    </li>
  </ul>
  <ul class="right">
    <li>
      <a href="http://spotify.com"><img src="http://s30.postimg.org/mc2i6jkx9/Spotifynewlogo_zpsd6734711.png"></a>
    </li>
  </ul>
  <ul class="right">
    <li>
      <a href="http://leafletjs.com/"><img src="http://s17.postimg.org/vt5bdqp4r/leaflet_logo.png"></a>
    </li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
